#my-background{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
#kuai{
    display: flex;
}
#title{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
